.statistic-div {
  width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--background-black);
}
.statistic-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 80%;
}
.statistic-title {
  margin: 0;
  font-size: 36px;
  color: var(--white);
}
.statistic-direct {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  width: 40%;
}
.statistic-desc {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.statistic-desc p,
h2 {
  color: var(--white);
  margin: 0;
}
.statistic-desc_article-title {
  font-size: 48px;
}
.statistic-desc_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.statistic-desc_article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .statistic-container {
    flex-direction: column;
    align-items: center;
  }
  .statistic-direct {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
  .statistic-title {
    text-align: center;
  }
  .statistic-desc {
    width: 100%;
    gap: 20px;
  }
}
