.payment-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgb(173, 173, 173);
}
.payment-title {
  margin: 10px;
}
.payment-sum {
  color: rgb(173, 173, 173);
  margin: 20px;
}
