.filters {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 20px;
  background-color: var(--white);
}
.filters-title {
  font-size: 1.25rem;
  color: var(--background-black);
}
.filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.filter-name {
  color: var(--background-black);
  margin: 0;
}
.filters-display {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
@media (max-width: 768px) {
  .filters {
    position: absolute;
    left: 0;
    transform: translate(-400px);
    transition: all 0.3s;
  }
  .open-filter {
    transform: translate(0);
  }
}
