.filters {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(119, 119, 119);
  padding: 20px;
}
.filters-title {
  font-size: 1.25rem;
  color: var(--BackgroundBlack);
}
.filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.filter-name {
  color: var(--BackgroundBlack);
  margin: 0;
}
.filters-display {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
