.main-shop-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.main-tables {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 95%;
  gap: 50px;
  flex-wrap: wrap;
}
.main-product-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 55%;
}
.main-product__title {
  display: flex;
  width: 95%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
  background-color: rgb(165, 165, 165);
  padding: 0px 17px;
  border: 1px solid rgb(165, 165, 165);
}
.main-product__table-text {
  font-size: 22px;
  color: var(--White);
}
.main-product__header-table {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.main-total-sum {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.main-total__title {
  width: 100%;
  display: flex;
  align-items: start;
  background-color: rgb(165, 165, 165);
  border-radius: 20px 20px 0 0;
  border: 1px solid rgb(173, 173, 173);
}
.main-total__payment {
  width: 100%;
  border: 1px solid rgb(173, 173, 173);
}
.right-table {
  margin: 20px;
}
.main-shop__not-add {
  font-size: 30px;
  text-align: center;
}
.main-product__things {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 17px;
  border: 1px solid rgb(173, 173, 173);
}
.product-control__button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .main-tables {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-product-list {
    width: 95%;
  }
  .main-total-sum {
    width: 95%;
  }
  .main-product__table-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .main-shop-list {
    justify-content: start;
  }
}
