.auth-page {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: 1px solid var(--TotalBlack);
  border-radius: 20px;
  margin: 30px 0;
}
.auth-title {
  color: var(--TotalBlack);
}
.auth-inputs {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
}
.auth-inputs > label {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  gap: 10px;
}
.auth-con {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 20px 30px;
}
