.main-view-product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  width: 100%;
}
.main-images-product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
}
.main-description-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-reviews);
  padding: 40px 0;
}
.review-section__title {
  font-size: 26px;
  color: var(--total-black);
}
.review-section {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
