.registration-page{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.registration{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 30px 0;
}
.registration-con{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: start;
    gap: 30px;
}
.registration-text{
    width: 90%;
}

.registration-title{
    font-size: 36px;
    font-family: var(--Oxygen);
    color: #000;
}
.redirect{
    color: #949494;
}
.registration-login{
    color: #000;
}
.redirect, .registration-login{
    font-family: var(--Oxygen);
}
.registration-form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.registration-inputs{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.registration-inputs > label{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    font-family: var(--Oxygen);
}
.registration-terms{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-family: var(--Oxygen);
    cursor: pointer;
}
.registration-img{
    width: 50%;
}
.reg-image{
    width: 100%;
    height: 100%;
    border-radius: 0 20px 20px 0;
}