.registration-page {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.registration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: 1px solid var(--total-black);
  border-radius: 20px;
  margin: 30px 0;
}
.registration-con {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: start;
  gap: 30px;
  margin: 20px 30px;
}
.registration-text {
  width: 100%;
}

.registration-title {
  font-size: 36px;
  color: var(--total-black);
}
.redirect {
  color: var(--hover-button-gray);
}
.registration-login {
  color: var(--total-black);
}
.redirect,
.registration-login {
  font-family: var(--Oxygen);
}
.registration-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.registration-inputs {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}

.registration-inputs > label {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  font-family: var(--Oxygen);
  width: 45%;
}
.registration-terms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  cursor: pointer;
}
.img {
  width: 50%;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 0 20px 20px 0;
}

@media screen and (max-width: 768px) {
  .img {
    display: none;
  }
  .auth-con {
    width: 90%;
  }
  .registration-con {
    width: 90%;
  }
}
@media screen and (max-width: 550px) {
  .registration-inputs {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .registration-inputs > label {
    width: 95%;
  }
}
