.product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 0;
  gap: 5px;
}
.product-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.product-desc {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.product-img {
  width: 50px;
  height: 50px;
}
.product-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80px;
}

.product-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
