.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgb(165, 165, 165);
  padding: 20px 17px;
}
.product-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.product-desc {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.product-img {
  width: 50px;
  height: 50px;
}
.product-text {
  font-family: var(--Oxygen);
}
.product-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  width: 200px;
}
.product-controll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
