.card-div {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.card-img {
  width: 100%;
}
.card-title {
  font-size: 22px;
  margin: 0;
  text-decoration: none;
  color: var(--TotalBlack);
  transition: all 0.3s;
}
.card-price {
  font-size: 14px;
  margin: 0;
}
.card-controll {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-button {
  border: 1px solid var(--TotalBlack);
  padding: 3px;
  font-size: 14px;
  border-radius: 60px;
  width: 25px;
  height: 25px;
  background-color: transparent;
}

@media (any-hover: hover) {
  .card-button:hover {
    cursor: pointer;
    background-color: wheat;
    transition: all 0.3s;
  }
  .card-title:hover {
    color: var(--HoverButtonGray);
  }
}
