.main {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 90%;
  gap: 30px;
  padding: 20px 0;
}
.main-div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.main-text__title {
  color: var(--TotalBlack);
}
.main-subtitle {
  margin: 0;
}
.main-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.main-filter-open {
  display: flex;
  flex-direction: row;
  width: 95%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.open-filters {
  display: none;
  background: transparent;
  border-radius: 10px;
}

@media screen and (max-width: 1270px) {
  .main-data {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 950px) {
  .main-data {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .main-div {
    width: 100%;
  }
  .main {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 5px;
    padding: 20px 0;
  }
  .main-text__title {
    font-size: 18px;
  }
  .open-filters {
    display: block;
  }
}
