#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  --oxygen: "Oxygen", sans-serif;
  --oxo: Exo sans-serif;
  font-size: 16px;
  color: black;
  min-height: 100vh;
  position: relative;
  --white: #ffffff;
  --background-black: #282828;
  --hover-button-black: #4b4b4b;
  --total-black: #000000;
  --hover-button-gray: #c7c7c7;
  --background-reviews: #f8f8f8;
  --border-review: #d3d3d3;
}
body {
  margin: 0;
}
p,
h2 {
  font-family: var(--oxygen);
}
