#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    --Oxygen: "Oxygen", sans-serif;
    --Exo: Exo sans-serif;
    font-size: 16px;
    color: black;
}
body{
    margin: 0;
}