.home-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-page_entire-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
  width: 100%;
}
.home-page_article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 60%;
}
.home-page_title {
  font-weight: 600;
  text-align: center;
  font-size: 45px;
  margin: 0;
}
.home-page_text {
  text-align: center;
  margin: 0;
  width: 70%;
}

@media screen and (max-width: 500px) {
  .home-page_article {
    width: 97%;
  }
  .home-page_title {
    font-size: 30px;
  }
}
