.footer{
    width: 100%;
    background-color: #2f2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
.sub-footer{
    border-top: 0.5px solid #fff;
    padding: 10px 0;
    width: 100%;
    margin-top: 30px;
}
.footer-describe{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 50%;
    flex-direction: column;
}

.footer-title{
    font-size: 40px;
    font-family: var(--Oxygen);
    text-align: center;
}
.sub-footer_copyright{
    text-align: center;
    margin: 0;
    color: #fff;
    font-family: var(--Exo);
}
.email-subscription{
    width: 300px;
    background-color: #282828;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 15px;
    color: #FFFFFF;
    font-family: var(--Oxygen);
}
.submit-button{
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 45px;
    text-align: center;
    font-size: 30px;
    background-color: #282828;
    margin: 0;
    top: 4px;
    right: 5px;
    color: #fff;
}
.submit-button:active{
    background-color: #282828;
     
}
.footer-form{
    position: relative;
}
@media(any-hover: hover) {
    .submit-button:hover{
        background-color: #4b4b4b;
        transition: all 0.3s;
        cursor: pointer;
    }
    
}