.footer {
  width: 100%;
  background-color: var(--BackgroundBlack);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
.sub-footer {
  border-top: 0.5px solid var(--White);
  padding: 10px 0;
  width: 100%;
  margin-top: 30px;
}
.footer-describe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 50%;
  flex-direction: column;
}

.footer-title {
  font-size: 40px;
  text-align: center;
}
.sub-footer_copyright {
  text-align: center;
  margin: 0;
  color: var(--White);
  font-family: var(--Exo);
}
.email-subscription {
  width: 300px;
  background-color: var(--BackgroundBlack);
  border: 1px solid var(--White);
  border-radius: 20px;
  padding: 15px;
  color: var(--White);
}
.submit-button {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid var(--White);
  border-radius: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--BackgroundBlack);
  margin: 0;
  top: 4px;
  right: 5px;
  color: var(--White);
}
.submit-button:active {
  background-color: var(--BackgroundBlack);
}
.footer-form {
  position: relative;
}
.arrow-right {
  width: 20px;
  padding-left: 4px;
}
@media (any-hover: hover) {
  .submit-button:hover {
    background-color: var(--HoverButtonBlack);
    transition: all 0.3s;
    cursor: pointer;
  }
}
@media screen and (max-width: 500px) {
  .email-subscription {
    width: 280px;
  }
}
